<html>
  <head>
    <meta charset="UTF-8" />
    <title>Histogramme</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <div id="chart_div"></div>
    <script>
      google.charts.load('current', { packages: ['corechart'] });
      google.charts.setOnLoadCallback(drawHistogram);

      function drawHistogram() {
        function drawChart(data) {
          var dataArray = [['Date', 'Température']];
          data.results.forEach(entry => {
            var date = new Date(entry.Jour * 1000);
            dataArray.push([date.toLocaleDateString(), entry.temp]);
          });
          var dataTable = google.visualization.arrayToDataTable(dataArray);

          var options = {
            title: 'Histogramme from Sample OpenWeatherMap',
            legend: { position: 'none' },
            histogram: { bucketSize: 1, minValue: 5, maxValue: 15 }
          };

          var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
          chart.draw(dataTable, options);
        }

        fetch('/previsions/')
          .then(response => response.json())
          .then(data => {
            drawChart(data);
          });
      }
    </script>
  </body>
</html>
